<head><link rel="stylesheet" href="/styles/nav.css"> 
    <link rel="stylesheet" href="/styles/global.css">
</head>
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/friends/search-user">Search Users</a></li> 
        <li><a href="/friends/requests">Incoming Req</a></li>
        
        <li><a href="/auth/logout">Logout</a></li>
    </ul>
    <p style="display: flex; align-items: center;"><img src="/images/<%= usr.profilePicture %>" width="50" height="50" style="border-radius: 100px;">
        user: <strong><%= usr.username %></strong></p>
</nav>
