<head><link rel="stylesheet" href="/styles/nav.css"> </head>
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/friends/send-requests">Add Friend</a></li>
        <li><a href="/friends/requests">Incoming Req</a></li>
        <li><a href="/friends/list">Friends</a></li>
        <li><a href="/auth/logout">Logout</a></li>
    </ul>
    <p>user: <strong><%= usr.username %></strong></p>
</nav>
