<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="/styles/styles.css"><!-- Link to your CSS -->
</head>
<body>
    <%- include('_navbar.ejs') %> <!-- Corrected syntax for including the navbar -->

    <h1>Welcome to the Homepage!</h1>
    features:
    <ul>
        <li>signup login and logout</li>
        <li>u can double click on profile image to inspect user </li>
        <li>inspect profile and edit self profile (name, choose profile picture, edit status )</li>
        <li>u can send friend requests to other Users</li>
        <li>chat with them after becoming friends</li>
        <li>remove friends</li>
        <li>reject friend requests</li>
    </ul>
    


</body>
</html>
